.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  margin: 48px 0px 48px 48px;
}

.navbar {
  height: 140px;
  box-shadow :0px 0px 10px silver;
  border-bottom: 4px;
  margin-bottom: 48;
}

.navbar-brand:link, .navbar-brand:visited, .navbar-brand:hover, .navbar-brand:active {
  color: black;
}

.navbar-nav:link, .navbar-nav:visited, .navbar-nav:hover, .navbar-nav:active{
  color: black;
}

.container {
  margin-top: 48px;
}
.backlog_header {
  background: lightgray;
  width: 368px;
  box-shadow: 0px 2px 4px gray;
  border-radius: 5px;
  margin-bottom: 30px;
  color: white;
}

.backlog_container {
  background: lightgray;
  width: 368px;
  box-shadow: 0px 2px 4px gray;
  border-radius: 5px;
}

.progress_header {
  background: blue;
  width: 368px;
  box-shadow: 0px 2px 4px gray;
  border-radius: 5px;
  margin-bottom: 30px;
  color: white;
}

.progress_container {
  background: blue;
  width: 368px;
  box-shadow: 0px 2px 4px gray;
  border-radius: 5px;
}

.complete_header {
  background: green;
  width: 368px;
  box-shadow: 0px 2px 4px gray;
  border-radius: 5px;
  margin-bottom: 30px;
  color: white;
}

.complete_container {
  background: green;
  width: 368px;
  box-shadow: 0px 2px 4px gray;
  border-radius: 5px;
}

.card {
  background: white;
  width: 300px;
  margin: 16px 0px 16px 0px;
  border-radius: 10px;
}

.card-footer {
  background: white;
}

form {
  display:none;
}


input {
  border:none;
  width: 200px;
  outline: none;
}

.card-input {
  border: solid red;
  border-width: 4px;
}

.clear-decoration {
  color: white;
  border: none;  /* 枠線を消す */
  outline: none; /* クリックしたときに表示される枠線を消す */
  background: transparent; /* 背景の灰色を消す */
}