{% extends 'base.html' %}
{% block main %}
<div class="backlog_lane">
  <h2>Backlog</h2>
  <div class="backlog_contents">
    {% for backlog in backlogs %}
    <ul>
      <div class="card-body">
        <p class="card-text">{{ backlog.content|truncatechars:100 }}</p>
      </div>
      <div class="card-footer text-muted">
        {{ backlog.created|date }} by {{ backlog.post_person }}
      </div>
    </ul>
    {% endfor %}
    <form action="" method="POST">
      <div class="container">
        {% csrf_token %}
        {{ form.errors }}
        <div class="row justify-content-center">
          <div class="col-8 col-lg-4">{{ form.content }}</div>
        </div>
        <div class="row justify-content-center">
          <div class="col-8 col-lg-4">{{ form.post_people }}</div>
        </div>
        <button class="btn btn-warning" type="submit">Done</button>
    </form>  
  </div>
</div>
<div class="progress_lane">
  <h2>In Progress</h2>
  {% for progres in progress %}
  <ul>
    <div class="card-body">
      <p class="card-text">{{ progres.content|truncatechars:100 }}</p>
    </div>
    <div class="card-footer text-muted">
      {{ progres.created|date }} by {{ progres.post_person }}
    </div>
  </ul>
  {% endfor %}
</div>
<div class="complete_lane">
<h2>Complete</h2>
  {% for complete in completes %}
  <ul>
    <div class="card-body">
      <p class="card-text">{{ complete.content|truncatechars:100 }}</p>
    </div>
    <div class="card-footer text-muted">
      {{ complete.created|date }} by {{ complete.post_person }}
    </div>
  </ul>
</div>
{% endfor %}
{% endblock main %}